@import "../../style/mixins/mixins";
@import "../../style/theme/index";

.#{$prefix}-loading {
  position: absolute;

}
.gen-loading-fade-enter-active,
.gen-loading-fade-leave-active{
  transition: opacity 250ms;

}
.gen-loading-fade-enter-from,
.gen-loading-fade-leave-to{
  opacity: 0;
}
