/*
  主体color
 */
//主题色
$primary: #0C2542;
//主要字体颜色
$text: #0C2542;
//内容
$text-content: #5D5D70;
//说明
$text-gray: #A9A9A9;

//引导色
$primary-blue: #4080fd;
$primary-success:#67c239;
$primary-warning:#f56c6c;
$primary-danger:#e6a23d;
$primary-gray:#909399;

//边框色
$border:$primary;