@mixin box-border($size:1,$color:#0C2542,$style:solid,) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    border: $size+px $style red;
    height: 100%;
    width: 100%;
  }
}

@mixin base-button($color,$text:white) {
  color: $text;
  border-color: $color;
  background-color: $color;

  &:hover {
    background-color: rgba($color, 0.85);
    border-color: rgba($color,1);
  }
  &:focus {
    background-color: rgba($color, 0.9);
    border-color: rgba($color,1);
  }
  &:active {
    background-color: rgba($color, 1);
  }
}